{% extends "musify/base_login.html" %}
{% block content %}
<div class="content-section">
<p>Click Forgot Password to get a mail which contains your username and a link 
to reset password.
In the mail, click on the link if you wish to, otherwise just see the username and ignore the link provided to you.<br/>
Instead you can click on the home page link provided in the mail or just go to the home page from the app by clicking on the app logo.
</p>
<a href="{% url 'password_reset' %}">Forgot Password?</a>
</div>
{% endblock content %}