{% extends "musify/base_login.html" %}
{% block content %}
<article class="content-section box-shadow" style="border-radius: 15px;">
    <h3 class="article-title font-weight-light" >About Musify</h3>
    <p class="article-content">This is a music application which uses the Spotify API which allows you to search for songs, playlists, artists, albums.
        It also allows you to listen to the famous paylists of different categories like party, pop, hip-hop, bollywood.<br/>
        <b>All you require is a Spotify Account and login to that in spotify <a href="https://open.spotify.com/" style="text-decoration: none; color: #1db954;">web player</a></b><br/>
        <b>API Credits</b> - <a href="https://developer.spotify.com/documentation/web-api/" target="_blank" style="text-decoration: none; color: #1db954;">Spotify Web API <i class="fab fa-spotify fa-lg"></i></a><br/>
        <b>Created By</b> - <span style="color: #1db954;">Viren Patil & Vasvi Gupta</span>
    </p>
</article>
{% endblock content %}
